.home-news-item{
  &:first-child{
    @include span(full);
    display: block;
    .home-news-item-text{
      @include span(4 of 12);
      height: 400px;
      color: $black;
      background-color: $pink;
      padding: 200px $full-space $half-space $full-space;
      box-sizing: border-box;
      position: relative;
      .white-ribbon{
        position: absolute;
        background-color: $cream;
        width: 160px;
        line-height: 50px;
        display: block;
        top: 75px;
        left: -80px;
        text-align: center;
      }
    }
    .squarephoto{
      @include span(first 4 of 12);
      height: 400px;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
    .block-link{
      @include span(last 4 of 12);
      height: 400px;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  &:nth-child(2){
    @include span(full);
    display: block;
    .home-news-item-text{
      @include span(first 4 of 12);
      height: 400px;
      color: $black;
      padding: 150px $full-space $half-space $full-space;
      box-sizing: border-box;
      position: relative;
      background-color: $white;
      transition: background-color 0.5s ease-in-out;
      .white-ribbon{
        position: relative;
        background-color: none;
        width: auto;
        padding: 15px 0;
        display: block;
        text-align: left;
      }
    }
    &:hover{
      .home-news-item-text{
        background-color: $light-pink;
      }
    }
    .squarephoto{
      @include span(last 8 of 12);
      height: 400px;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
    .block-link{
      display: none;
    }
  }
}