.home-news-item{
  &:first-child{
    @include span(full);
    display: block;
    .home-news-item-text{
      @include span(4 of 12);
      height: 400px;
      color: $black;
      background-color: $cream;
      border: 1px solid $black;
      border-left: none;
      border-bottom: none;
      padding: 125px $double-full-space $double-full-space $full-space;
      position: relative;
      transition: all 0.5s ease-in-out;
      &:hover{
          background-color: $pink;
      }
    }
    .squarephoto{
      @include span(first 4 of 12);
      height: 400px;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      transition: all 0.5s ease-in-out;
      border: 1px solid $black;
      border-right: none;
      border-bottom: none;
    }
    .block-link{
      @include span(last 4 of 12);
      height: 400px;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      text-align: center;
      display: flex;
      align-items: center;
      background-color: $white;
      border-right: 1px solid $black;
      border-top: 1px solid $black;
      justify-content: center;
      .block-link-interior{
          width: 200px;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: all 1s ease-in-out;
          font-style: italic;
          &:hover{
            a{
                color: $pink;
            }
          }
          a {
            color: $black;
            padding: 15px 0;
            width: 200px;
            display: block;
            text-decoration: none;
          }
      }
    }
  }
  &:nth-child(2){
    @include span(full);
    display: block;
    border: 1px solid $black;
    .home-news-item-text{
      @include span(first 4 of 12);
      height: 400px;
      color: $black;
      padding: 125px $double-full-space $double-full-space $full-space;
      box-sizing: border-box;
      position: relative;
      background-color: $white;
      transition: background-color 0.5s ease-in-out;

      .white-ribbon{
        display:none;
      }
    }
    &:hover{
      .home-news-item-text{
        background-color: $light-pink;
      }
    }
    .squarephoto{
      @include span(last 8 of 12);
      height: 400px;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      transition: all 0.5s ease-in-out;
    }
    .block-link{
      display: none;
    }
  }
}